extends layout

block styles
    +useCSS("/stylesheets/settings.css")


block content
    h1 Create Queue
    form.settings-form(method="post", action=urls.queue.create)
        .form-row
            .form-field
                label(for="name") Name
                input(type="text", name="name")
            .form-field
                input.button(type="submit", value="Create")
