extends layout

block styles
    +useCSS('/stylesheets/queue.css')

block content
    .queue-delete-confirm.absolute-center
        p Are you sure you want to delete "#{queue.name}"?
        form(method="post", action=urls.queue.delete(queue._id))
            input.button(type="submit", value="Confirm")