extends layout


block content
    form(method="post", action=urls.queue.create)
        label(for="name") Queue Name
        input(type="text", name="name")
        label(for="require_sub") Require subscription
        input(type="checkbox", name="require_sub", value=1) 
        label(for="require_follow") Require follow
        input(type="checkbox", name="require_follow", value=1)
        input.button(type="submit", value="Create")
