.queue-title-row {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #382e29;
  min-width: 634px;
}
.queue-title-col {
  padding-left: 5px;
  padding-right: 20px;
  display: inline-block;
}
.queue-title-col .queue-title {
  margin: 0;
}
.queue-title-col .button {
  width: 82px;
  height: 25px;
  vertical-align: text-bottom;
}
.queue-header {
  margin-top: 14px;
}
.queue {
  background-color: #070707;
  min-width: 634px;
  max-width: 860px;
}
.queue-contents {
  margin-top: 0;
  overflow: hidden;
  padding-left: 0;
  list-style-type: none;
}
.queue-row {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  list-style-position: inside;
  padding-top: 5px;
  border-bottom: 1px solid #382e29;
  height: 30px;
}
.queue-row.highlight {
  background: #19141c;
}
.queue-col {
  display: inline-block;
  min-width: 100px;
  padding-left: 5px;
  padding-right: 5px;
}
.queue-col .col-text {
  position: relative;
  top: 8px;
}
.profile-col {
  min-width: 220px;
}
.queue-delete-confirm {
  height: 50px;
  width: 300px;
  text-align: center;
}
.queue-delete-confirm p {
  padding-bottom: 20px;
}
.queue-delete-confirm .button {
  width: 80px;
  height: 25px;
}
